@font-face { font-family:MonumentExtended; src: url("/fonts/MonumentExtended-Regular.otf");}
 .primary-font {
  font-family: MonumentExtended;
 }
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

 .hero {
  min-height: 85vh;
  border: 2px solid black;
  background-color: black;
  padding:5%;
 }

 #about {
    padding:5%;
    min-height: 55vh;
    background: #24F705;
background: radial-gradient(circle at top left, #24F705 0%, #C7C2B1C4 48%)
 }

 .flex-row-2
 {border: 2px solid red;
    min-height: 500px;}