section {
    border: 2px solid black;
    min-height: 85vh;
}

.row {
    display: flex;
    align-items: center;
    min-height: 500px;
    width: 80%;
    margin: auto;
    border: 2px solid red;
}

.column {
    border: 2px solid blue;
    width: 80%;
}